body{
	background-color: #F7FB72;
	color: blue;
	font-family: Calibri |Georgia |Verdana | Helvetica | Times;
}

.site	{
	width: 100%;
	max-width: 900px;
	height: 600px;
	margin: auto;
}

.logo {
	width: 25%;
	height: 75px;
	float: left;
	/*background-color: blue;*/
}

.menu {
	width: 75%;
	height: 75px;
	float: left;
}

.conteudo {
	padding-top: 10px;
	width: 100%;
	height: 525px;
}

.imgtopo {
	width: 30%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
}

.receita {
	padding-top: 10px;
	width: 32%;
	padding-left: 20px;
	float:left;
}
.preparo {
	padding-top: 10px;
	float: left;
	width: 65%;
}


.rodape {
	width: 100%;
	height: 75px;

}

@media only screen and (max-width: 650px) {
	.menu {
		width: 100%;
		padding-top: 20px;
	}
	.logo {
		width: 100%;
	}
}